* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("https://i.pinimg.com/originals/70/56/c5/7056c57d97a035af946d8f17cddf16a6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 100vh;
}
.logocon{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding: 15px;
    width: 100%;
}
.logocon img{
    width: 200px;
}


#board {
    width: 100%; 
    max-width: 540px; 
    max-height: 540px; 
    height: auto; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    background-size: cover;
}

#board div {
    width: 180px; 
    height: 20vh;
    background-image: url("ufo.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}

#board div img {
    width: 70%;
    height: 50%;
    margin-top: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
